
.colour{

    color:antiquewhite;
}
.portfolio-background{
    background: linear-gradient(#bdc3c7, #2c3e50);
}
.navbar-img{
    height:80px;
}
.bitmoji-name{
    font-size: 28px;
    color:antiquewhite;
}
.portfolio-menu{
    color:black;
    font-size:24px;
}
#navbar1{
    color:antiquewhite;
}
#navbar2{
    color:antiquewhite;
}
#navbar3{
    color:antiquewhite;
}
#navbar4{
    color:antiquewhite;
}

.image-adjustment{
    height:300px;
    width:300px;
    border-radius:150px;
}
.name{
    color:#b539c8;
    font-size:55px;
}
.social-media{
    color:white;
    font-weight: bold;
    
}
.names{
    color:white;
    font-size: 30px;
}
.intro{
    color:white;
    margin-left:60px;
    margin-right:60px;
    font-size:18px;
}
.comp-img{
   width:75%;
    margin-top:15px;
}
.quote{
    color:#b539c8;
    font-weight:bold;
    font-family: roboto;
    font-size:23px;
}
.back{
    background: linear-gradient(to bottom, #a7e9af, #267871);

}
/* CSS for the animated element */
.animate-up {
    position: relative;
    animation: moveUp 1s ease-out; /* You can adjust the duration and timing function */
}

/* Keyframes for the animation */
@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100%); /* Start from the bottom of the container */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move up to the original position */
    }
}
.languages-border{
    border-style:solid;
    border-radius:8px;
   
}
.skills{
    color:yellowgreen;
    font-size:20px;
    
    height:
}
.languages-modify{
   
    padding-left: 30px;
    font-family: roboto;
    font-size:16px;
}
.lang-head{
    color:#547980;
    font-family: roboto;
    font-size:45px;
    text-align: center;
}
.border{
    border-radius:10px;
    margin-left:150px;
    margin-right:150px;

}
#refreshButton {
    /* Your default button styles */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  #refreshButton:hover {
    /* Styles for when the button is hovered */
    background-color: #45a049; /* Change this to the desired hover color */
  }
  .portfolio{
    background-color:#191919;
    font-family:Roboto;
  }
  .logo{
    color:white;
  }
  h2{
    color:white;
  }
  .lang-head{
    color:#39abc8;
    font-size:30px;

  }
  .skill{
    color:yellowgreen;
    font-size:25px;
    padding-left:5px;
}
.snapchat{
    background-color: yellow;
}
.contact-me{
    width:100%;
    height:350px;
    background:#220c0c;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.web{
    color:white;
    font-size:30px;
    font-weight:bold;
    margin-bottom:25px;
}
.hire{
    background-color:#f9004d;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:13px 30px;
    border-radius:30px;
    transition: .4s;
    
}
